<% var = params[:category] || :total %>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <%= var.capitalize %> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><%= link_to "Totals", params[:controller] %></li>
    <% data.column_names.each do |name| %>
      <% unless ['id', 'year', 'month', 'total'].include?(name) %>
        <li><%= link_to name.capitalize, :controller => params[:controller], :category => name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
